@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes gradientMove {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient {
    animation: gradientMove 8s ease infinite;
  }
}
@layer utilities {
  @keyframes subtleMove {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .bg-subtle {
    background: linear-gradient(120deg, #f9f9f9, #ffffff, #f0f0f0);
    background-size: 200% 200%;
    animation: subtleMove 15s ease infinite;
  }
}

.react-archer-container svg defs marker,
.react-archer-container svg path marker {
  display: none !important;
}

*[draggable="true"] {
  cursor: default !important;
}

@keyframes bg-flash-green {
  0% { background-color: white; }
  50% { background-color: #abffd4; } /* Verde más tenue */
  100% { background-color: white; }
}

@keyframes bg-flash-red {
  0% { background-color: white; }
  50% { background-color: #ff8d8d; } /* Tailwind's red-300 */
  100% { background-color: white; }
}

.bg-flash-green {
  animation: bg-flash-green 0.70s ease-in-out;
}

.bg-flash-red {
  animation: bg-flash-red 0.70s ease-in-out;
}